* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-radius: 15px;
  background-color: darkgoldenrod;
  padding: 1rem;
  margin: 1rem;
  width: 30%;
  text-align: center;
}

.container-image {
  width: 80%;
  margin: 0 auto;
}

.img {
  width: 100%;
}

.kingName {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem;
}
